section {
  padding: 40px;
  max-width: 700px;
  margin: 0 auto;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.fix-line-height {
  line-height: 24px
}

img {
  width: 32px;
  margin: 0 10px;
}

.mat-accordion {
  padding: 5px;
}

.mat-icon {
  margin: 0 10px 0 0;
}