<mat-toolbar color="primary">
  <img src="assets/angular-web-ble.png" />
  <span>Angular Web BLE Demo</span>
</mat-toolbar>

<div class="grid-container">
  <mat-grid-list cols="3" rows="2" rowHeight="300px">

    <!-- battery -->

    <mat-grid-tile colspan="1" rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Battery Level
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menuBattery" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menuBattery="matMenu" xPosition="before">
              <button mat-menu-item *ngIf="(battery.device | async) === null" (click)="battery.requestValue()">
                <mat-icon>bluetooth_searching</mat-icon>
                Connect
              </button>
              <button mat-menu-item *ngIf="(battery.device | async)" (click)="battery.disconnect()">
                <mat-icon>bluetooth_disabled</mat-icon>
                Disconnect
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle *ngIf="(battery.device | async) as device">
            {{ device.name }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ble-battery-level #battery></ble-battery-level>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- humidity -->

    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Humidity Level
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menuHumidity" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menuHumidity="matMenu" xPosition="before">
              <button mat-menu-item *ngIf="(humidity.device | async) === null" (click)="humidity.requestValue()">
                <mat-icon>bluetooth_searching</mat-icon>
                Connect
              </button>
              <button mat-menu-item *ngIf="(humidity.device | async)" (click)="humidity.disconnect()">
                <mat-icon>bluetooth_disabled</mat-icon>
                Disconnect
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle *ngIf="(humidity.device | async) as device">
            {{ device.name }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ble-humidity #humidity></ble-humidity>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- temperature -->

    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Temperature
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menuTemperature" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menuTemperature="matMenu" xPosition="before">
              <button mat-menu-item *ngIf="(temperature.device | async) === null" (click)="temperature.requestValue()">
                <mat-icon>bluetooth_searching</mat-icon>
                Connect
              </button>
              <button mat-menu-item *ngIf="(temperature.device | async)" (click)="temperature.disconnect()">
                <mat-icon>bluetooth_disabled</mat-icon>
                Disconnect
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle *ngIf="(temperature.device | async) as device">
            {{ device.name }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ble-temperature #temperature></ble-temperature>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
