<mat-toolbar color="primary">
  <img src="assets/angular-web-ble.png" />
  <span>Angular Web BLE Demo</span>
  <button mat-icon-button class="more-button" [matMenuTriggerFor]="globalMenu" aria-label="Toggle menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #globalMenu="matMenu" xPosition="before">
    <button mat-menu-item *ngIf="(device | async) === null" (click)="requestValue()">
      <mat-icon>bluetooth_searching</mat-icon>
      Connect
    </button>
    <button mat-menu-item *ngIf="(device | async)" (click)="disconnect()">
      <mat-icon>bluetooth_disabled</mat-icon>
      Disconnect
    </button>
  </mat-menu>
</mat-toolbar>

<div class="grid-container">
  <mat-grid-list cols="2" rows="4" rowHeight="300px">

    <!-- battery -->

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Battery Level
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menuBattery" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menuBattery="matMenu" xPosition="before">
              <button mat-menu-item *ngIf="(battery.device | async) === null" (click)="battery.requestValue()">
                <mat-icon>bluetooth_searching</mat-icon>
                Connect
              </button>
              <button mat-menu-item *ngIf="(battery.device | async)" (click)="battery.disconnect()">
                <mat-icon>bluetooth_disabled</mat-icon>
                Disconnect
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle>
            <span *ngIf="(battery.device | async) as connectedDevice">{{ connectedDevice.name }}</span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ble-battery-level #battery></ble-battery-level>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- step counter -->

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Step Counter
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menuStepCounter" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menuStepCounter="matMenu" xPosition="before">
              <button mat-menu-item *ngIf="(stepCounter.device | async) === null" (click)="stepCounter.requestValue()">
                <mat-icon>bluetooth_searching</mat-icon>
                Connect
              </button>
              <button mat-menu-item *ngIf="(stepCounter.device | async)" (click)="stepCounter.disconnect()">
                <mat-icon>bluetooth_disabled</mat-icon>
                Disconnect
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle *ngIf="(stepCounter.device | async) as connectedDevice">
            {{ connectedDevice.name }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ble-stepcounter #stepCounter></ble-stepcounter>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- humidity -->

    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Humidity Level
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menuHumidity" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menuHumidity="matMenu" xPosition="before">
              <button mat-menu-item *ngIf="(humidity.device | async) === null" (click)="humidity.requestValue()">
                <mat-icon>bluetooth_searching</mat-icon>
                Connect
              </button>
              <button mat-menu-item *ngIf="(humidity.device | async)" (click)="humidity.disconnect()">
                <mat-icon>bluetooth_disabled</mat-icon>
                Disconnect
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle *ngIf="(humidity.device | async) as connectedDevice">
            {{ connectedDevice.name }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ble-humidity #humidity></ble-humidity>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- temperature -->

    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Temperature
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menuTemperature" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menuTemperature="matMenu" xPosition="before">
              <button mat-menu-item *ngIf="(device | async) === null" (click)="temperature.requestValue()">
                <mat-icon>bluetooth_searching</mat-icon>
                Connect
              </button>
              <button mat-menu-item *ngIf="(device | async)" (click)="temperature.disconnect()">
                <mat-icon>bluetooth_disabled</mat-icon>
                Disconnect
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle *ngIf="(device | async) as connectedDevice">
            {{ connectedDevice.name }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ble-temperature #temperature></ble-temperature>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
